<%
  const featuredCount = 1
  const secondaryCount = 2
  const featured = public.entries._data.slice(0, featuredCount)
  const secondary = public.entries._data.slice(featuredCount, (secondaryCount + featuredCount))
  const archive = public.entries._data.slice((secondaryCount + featuredCount), 100)
%>

<% public.entries._data.map(function (path) { %>
  <%
    const entry = public.entries[path]
    const data = entry._data
  %>
  <a href="/entries/<%- path %>" class="x px1 sans">
    <div class="c6 px1">
      <strong><%- data.title %></strong>
    </div>
    <div class="c3 px1">
      <%- data.category[0].toUpperCase() + data.category.slice(1) %>
    </div>
    <div class="c3 px1 tar">
      <%- data.date %>
    </div>
  </a>
<% }) %>

<div class="mb4" md="mb2"></div>
