:host {
  position: relative;
}

:host input {
  border: 0;
  box-shadow: none;
  background: none;
  width: 100%;
}

:host input:not([value=""]):invalid {
  color: #f00;
}

:host button {
  cursor: pointer;
  background: none;
  padding: 0;
  border: 0;
  padding: 0 0 0 1rem;
}