<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%- title %></title>
  <style>
    html { font-size: 3.75vmin; }
  </style>
  <link rel="stylesheet" href="assets/fonts.css">
  <link rel="stylesheet" href="/assets/bundle.css">
</head>
<body class="<%- bgcolor %>">
  <%- yield %>
  <script src="/assets/bundle.js"></script>
</body>
</html>