<div style="border-top: 1px solid #000;">
  <form action="https://docs.google.com/forms/d/1xmuLB1Bk66t8I-FpNEmzAWaalKLVA9WWv2cyfvVSdmo/formResponse" method="POST" target="_self" class="x">
    <div class="xa">
      <input type="email" class="type-small p2" sm="h5" name="entry.636902732" style="border-right: 1px solid #000" id="entry_636902732" placeholder="email@address.com" dir="auto" aria-label="Email  Please enter a valid email address." aria-required="true" required="" title="Please enter a valid email address.">
    </div>
    <div class="xa">
      <input type="submit" name="submit" value="Subscribe" class="type-small p2" sm="h5" id="ss-submit">
    </div>
    <input type="hidden" name="draftResponse" value="[,,&quot;-4553172330044159733&quot;]">
    <input type="hidden" name="pageHistory" value="0">
    <input type="hidden" name="fvv" value="0">
    <input type="hidden" name="fbzx" value="-4553172330044159733">
  </form>
</div>