<% 
    const entry = public.entries[path]
    const data = entry._data 
%>
<a href="/entries/<%- path %>" class="x px1 sans">
  <div class="c6 px1">
    <strong><%- data.title %></strong>
  </div>
  <div class="c3 px1">
    <%- data.category[0].toUpperCase() + data.category.slice(1) %>
  </div>
  <div class="c3 px1">
    <%- data.date %>
  </div>
</a>