<!DOCTYPE html>
<html>
<head>
  <title><%- title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    html { font-size: 2.8vmin; }
  </style>

  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:200" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,600,700" rel="stylesheet">

  <link rel="stylesheet" href="/assets/fonts.css">
  <link rel="stylesheet" href="/assets/bundle.css">
</head>
<body class="<%- bgcolor %>">
