/**
 * Dependencies
 */
@import './styles/reset';
@import './styles/gr8';

/**
 * Typography
 */

body {
  color: #000;
  font-size: 1rem;
  line-height: 1.4;
}

/**
 * Fonts
 */

.sans {
  font-family: 'Space Mono', sans-serif;
}

.sans-light {
  font-family: 'Space Mono', sans-serif;
  font-weight: 200;
}

.sans-bold {
  font-family: 'Space Mono', sans-serif;
  font-weight: 700;
  font-size: 0.95em;
}

.serif {
  font-family: 'Canela Web', georgia, serif;
}

/**
 * Headings
 */

h3, .h3 {
  line-height: 1;
}

/**
 * Paragraphs
 */

p {
  text-indent: 2rem;
}

div.no-indent p {
  text-indent: 0;
}

p:first-child { margin-top: 0 }
p:last-child { margin-bottom: 0 }

.links-big a {
  font-family: 'Archivo Black', sans-serif;
  font-size: 0.9em;
}

.links-underline a {
  border-bottom: 1px solid #000;
}

.sans-bold a,
.sans a {
  font-size: 1em;
}

/**
 * Anchors
 */

a {
  color: #000;
  text-decoration: none;
}

/**
 * Colors
 */
.bg-dusty-rose { background-color: #fee }
.color-dusty-rose { color: #fee }

/**
 * Labels
 */
.label-small {
  color: #fee;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 700;
  background: #000;
  font-size: 0.5rem;
  height: 1rem;
  width: 1rem;
  text-align: center;
  line-height: 1rem;
  border-radius: 50%;
}

/**
 * Mailinglist
 */

input {
  font-family: 'Space Mono', sans-serif;
  font-weight: normal;
  background: none;
  border: 0;
  display: block;
  font-size: 1rem;
  outline: 0;
  font-weight: 300;
  width: 100%;
  margin: 0;
  background: #1a1a1a;
  color: #ffeeee !important;
}

input[type="submit"] {
  cursor: pointer
}

::-webkit-input-placeholder {
  color: rgba(255, 238, 238, 0.5);
}

:-moz-placeholder {
  color:  rgba(255, 238, 238, 0.5);  
}

::-moz-placeholder {
  color: rgba(255, 238, 238, 0.5);  
}

:-ms-input-placeholder {  
  color: rgba(255, 238, 238, 0.5); 
}