/**
 * Dependencies
 */
@import './styles/reset';
@import './styles/gr8-custom';
@import './styles/gr8';
@import './styles/prism';

/**
 * Typography
 */

body {
  color: #000;
  font-size: 1rem;
  line-height: 1.4;
}

/**
 * Fonts
 */

.sans {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.sans-light {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}

.sans-bold {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 0.95em;
}

.serif {
  font-family: 'Canela Web', georgia, serif;
}

.mono {
  font-family: 'Source Code Pro', times;
  font-weight: 300;
}

.lh1 { line-height: 1 }

/**
 * Headings
 */

h2, .h2 {
  text-rendering: optimizeLegibility;
  line-height: 1;
}

h3, .h3 {
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: 600;
}

/**
 * Lists
 */

ul {
}

li {
  list-style: none;
  padding-left: 2rem;
  position: relative;
}

li:before {
  background: #000;
  content: '';
  text-align: center;
  position: absolute;
  border-radius: 50%;
  top: 0.5rem;
  left: 0.5rem;
  height: 0.5rem;
  width: 0.5rem;
}

.lsn li {
  padding-left: 0;
}

.lsn li:before {
  display: none;
}

.list-archive > a {
  border-top: 1px solid #000;
}

.list-archive > a:last-child {
  border-bottom: 1px solid #000;
}

/**
 * Paragraphs
 */

p {
  text-indent: 2rem;
  font-weight: inherit;
}

div.no-indent p {
  text-indent: 0;
}

p:first-child { margin-top: 0 }
p:last-child { margin-bottom: 0 }

.links-sans a {
  letter-spacing: -0.1rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 0.95em;
}

.links-serif a {
  font-family: 'Canela Web', georgia, serif;
}

.links-underline a {
  border-bottom: 1px solid #000;
}

.sans-bold a,
.sans a {
  font-size: 1em;
}

strong {
  font-weight: 600;
}

/**
 * Videos
 */
video {
  display: block;
  max-width: 100%;
}

.video {
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

.video video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.video-buffering:hover:before {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  content: 'play video';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.video-buffering video {
  opacity: 0;
  cursor: pointer;
}

/**
 * Anchors
 */

a {
  color: #000;
  text-decoration: none;
}

/**
 * Colors
 */
.bg-black { background: #000 }
.bg-white { background: #fff }
.bg-dusty-rose { background-color: #fff }
.tc-white { color: #fff }
.color-dusty-rose { color: #fff }
.color-dusty-rose a { color: #fff }

/**
 * Labels
 */
.label-small {
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  background: #000;
  font-size: 0.5rem;
  height: 1rem;
  width: 1rem;
  text-align: center;
  line-height: 1rem;
  border-radius: 50%;
}

/**
 * Mailinglist
 */

input {
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  background: none;
  border: 0;
  display: block;
  font-size: 2rem;
  outline: 0;
  font-weight: 300;
  width: 100%;
  margin: 0;
  color: #000;
}

input[type="submit"] {
  cursor: pointer
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

:-moz-placeholder {
  color:  rgba(0, 0, 0, 0.5);
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

/**
 * Media
 */
.copy img {
  margin: 1rem 0;
  display: block;
  height: auto;
  max-width: 100%;
}
